{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>
        .cart {
            list-style: none;
            padding: 0;
        }
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <h2>Cart</h2>
        <ul class="cart">
            {% for item in items %}
                <li>{{ item.product_name }} - {{ item.quantity }} x {{ item.price}}</li>
            {% endfor %}
            <li>Total: {{ shoppingCart.total}}</li>
        </ul>
    </main>
    </body>
{% endblock %}
