{% extends 'base.html.twig' %}

{% block title %}Admin Add Category{% endblock %}

{% block body %}
    <style>
        main {
            height: fit-content !important;
        }
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <h2>Add category</h2>
        <p>Please fill in the details you want to be added</p>
        {{ form_start(addCategoryForm) }}
        {{ form_row(addCategoryForm.name) }}
        {{ form_row(addCategoryForm.description) }}
        {{ form_row(addCategoryForm.submit) }}
        {{ form_end(addCategoryForm) }}
        <br>
        <br>
    </main>
    </body>
{% endblock %}
