{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <style>
        main {
            height: fit-content !important;
        }
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity Shop Logo" class="banner">
        <h2>Your Orders</h2>
        {% for order in orders %}
            <section>
                <strong> Order Information: </strong><br><br>
                <p><strong>First Name:</strong> {{ order.firstName }}</p>
                <p><strong>Last Name:</strong> {{ order.lastName }}</p>
                <p><strong>Email:</strong> {{ order.email }}</p>
                <p><strong>Address:</strong> {{ order.address }}</p>
                <p><strong>Phone:</strong> {{ order.phone }}</p>
                <p><strong>Total Price:</strong> ${{ order.totalPrice }}</p>
                <h5>Items:</h5>
                {% for item in order.items['items'] %}
                    - {{ item.product_name }} - ${{ item.price }} x {{ item.quantity }}
                {% endfor %}
            </section>
            <br>
            <hr>
        {% endfor %}
        <a href="{{ path('app_categories') }}" class="btn-primary">Back to Shop</a>
    </main>
    </body>
{% endblock %}
